  .c-featured{
    padding: 24px;
    background: #ffffff;
    @include maxpoint($tablet){
        max-width: 1120px;
        margin: 0 80px;
        padding: 40px 30px; //40px 40px for accord
    }
    &__heading{
        > h2{
            margin: 0;
            font-family: $secondary-font; //Chap
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 140%;
            color: $neutral-225;
        }
        > p {
            margin: 0;
            font-family: $primary-font; //Univers LT Std
            font-size: 23px;
            line-height: 28px;    
        }
        .o-button--icon{
            color: $primary_green-100;
        }
    }

    &__cards{
        margin-top: 24px;
        // padding: 0 80px;
        .c-card {
            max-width: unset;
            &:not(:last-child){
                @include maxpoint($tablet){
                    margin-right: 22px;
                }
            }
        }
        &--hero{
            margin-top: 24px;
            @include maxpoint($desktop){
                display: flex;
                justify-content: space-between;
            }
            .c-card {
                max-width: unset;
            }
            
            > div{
                &:first-child{
                    margin-bottom: 25px;
                    @include maxpoint($desktop){
                        margin-bottom: unset;
                        width: calc((100% * .67) - 12px);
                    }
                }
                &:last-child{
                    @include maxpoint($desktop){
                        width: calc((100% * .33) - 12px);
                    }
                }
            } 
        }
    }
    &__accord{
        margin: 24px 10px 0 10px;//additional padding for featured
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        > * { //.c-card--accord .c-card--small
            flex: 1;
            transition: all 500ms ease-in-out;
            position: relative;
            cursor: pointer;
            &:hover{
                flex-grow: 1.5;
            }
        }
    }
    &__video{
    }
    
    &--wide{
        @extend .c-featured;
        @include maxpoint($tablet){
            padding: 40px 0; 
        }
    }
}