.c-filter{
    &-col{
        // width: 50%;
        > * {
            margin-left: 8px;
        }
        >span{
            margin: 0;
            font-family: $primary-font; //Univers LT Std
            font-size: 13px;
            font-weight: 600;
            line-height: 120%;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            &:nth-of-type(2){
                margin-left: 40px;
            }
        }
        >.o-button--rounded:first-of-type{ // rounded button
            margin-left: 21px;
        }
        >.o-button--text:last-of-type{ // navigator view 
            margin-left: 24px;
        }
        
    }
    &__select{
        position: relative;
        padding-right: 18px;
        &:hover{
            cursor: pointer;
        }
        &:after{
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 10px;
            height: 5px;
            margin-left: 8px;
            background: url('/dist/images/arrow_down.svg'), no-repeat;
            background-size: cover;
        }
        > select{
            width: 100%;
            font-family: $primary-font; //Univers LT Std
            font-size: 12px;
            line-height: 140%;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            border: 0;
        }
    }
}