.c-report{
    max-width: 980px;
    position: relative;
    z-index: 2;
    background: #f7f7f7;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
    padding: 20px;
    @include maxpoint($desktop){
        padding: 64px 64px 49px;
    }
    &__text{
        margin-bottom: 20px;
        @include maxpoint($desktop){
            margin-bottom: 0;
            max-width: 360px;
            width: calc(100% * .42);
        }
        > h3{
            margin: 0 0 8px 0;
            font-family: $primary-font; //Univers LT Std
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 160%;
            /* or 19px */
            letter-spacing: 0.16em;
            text-transform: uppercase;
            color: $secondary_gold-100;
        }
        > h1{
            margin: 0 0 24px 0;
            font-family: $secondary-font; //Chap
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 140%;
            color: $neutral-225;
        }
        > p{
            margin: 0;
            font-family: $primary-font; //Univers LT Std
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 160%;
            color: $neutral-225;
        }
    }
    .c-count{
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        @include maxpoint($desktop){
            margin-bottom: 0;
            max-width: 453px;
        }
        &__item{
            width: calc(100% / 2);
            margin-bottom: 20px;
            text-align: center;
            @include maxpoint($tablet){
                width: auto;
                text-align: unset;
                max-width: 134px;
                margin-bottom: 0;
                &:nth-child(4){
                    margin-top: 20px;
                }
            }
            >h3{
                margin: 0;
                font-family: $primary-font-cn; //Univers LT Std Condensed
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 160%;
                /* or 19px */
                letter-spacing: 0.16em;
                text-transform: uppercase;
                color: $neutral-225;
            }
            >div{
                font-family: $primary-font-cn; //Univers LT Std Condensed
                font-style: normal;
                font-weight: normal;
                font-size: 67px;
                line-height: 140%;
                text-align: center;
                > span{
                    font-size: 14px;
                    text-transform: uppercase;
                    line-height: normal;
                    align-self: flex-start;
                    margin-top: 15px;
                }
                &:first-of-type{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $secondary_gold-100;
                    @include maxpoint($tablet){
                        justify-content: space-evenly;
                    }
                }
                &:last-of-type{
                    display: block;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 21px;
                    line-height: 120%;
                    /* or 25px */
                    letter-spacing: 0.16em;
                    text-transform: uppercase;
                    color: $neutral-225;
                }
            }
        }
    }
    >.o-button {
        flex: none;
        text-align: center;
        margin-top: 25px;
        @include maxpoint($tablet){
            margin: 25px auto 0 0;
        }
    }
     &--box {
        max-width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;
        background: #fff;
        padding: 40px 40px 30px;
        flex-wrap: wrap;
        position: relative;
        z-index: 2;
        margin-top: -50px;

        @include maxpoint($desktop){
            max-width: 628px;
            position: absolute;
            top: 100px;
            right: 0;
        }

        .c-report__text {
            margin-bottom: 0;

            @include maxpoint($desktop){
                margin: 0;
                width: calc(100% * .85);
            }

            > h1 {
                color: black;
            }

            > p {
                color: gray;
            }
        }     
    }

}